<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="camiacmo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <camiacmo.Properties.Settings>
            <setting name="beep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="httpPostWebhookUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="notification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="httpGetWebhookUrlWebcamActive" serializeAs="String">
                <value />
            </setting>
            <setting name="httpGetWebhookUrlWebcamInactive" serializeAs="String">
                <value />
            </setting>
            <setting name="httpGetWebhookUrlMicrophoneActive" serializeAs="String">
                <value />
            </setting>
            <setting name="httpGetWebhookUrlMicrophoneInactive" serializeAs="String">
                <value />
            </setting>
            <setting name="webhooks" serializeAs="String">
                <value>False</value>
            </setting>
        </camiacmo.Properties.Settings>
    </userSettings>
</configuration>
